.title {
  font-size: 60px;
  text-align: center;
  padding: 0px;
}
.result {
  font-size: 60px;
  text-align: right;
  padding: 0px 10px;
}
.result-card {
  margin: 10px 0px;
}
.round {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  font-size: 30px;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
}
.side {
  background: rgb(251, 73, 8);
  transition: background 0.3s, box-shadow 0.3s;
}
.side:hover {
  background: rgb(255, 0, 0);
  box-shadow: 0 0 10px rgb(250, 0, 0);
}
.inside {
  background: rgb(0, 0, 0);
  transition: background 0.3s, box-shadow 0.3s;
}
.inside:hover {
  background: rgb(65, 65, 65);
  box-shadow: 0 0 10px rgb(250, 0, 0);
}
.container {
  width: 400px;
  background-color: aqua;
  margin-top: 1%;
  padding: 20px;
  border-radius: 20px;
}
.row {
  display: flex;
  justify-content: space-evenly;
}
.row > .colmd3 {
  width: 80px;
  display: grid;
  align-items: center;
  justify-content: space-evenly;
  justify-items: center;
  padding: 5px;
}
